<div>
    <div class="about">
        <div>
            <figure>
                <div class="about-circular-ben"><!-- Image circulaire de Ben --></div>
                <!--figcaption> Ben </figcaption-->
            </figure>
            <figure>
                <div class="about-circular-suf"><!-- Image circulaire de Suf --></div>
                <!--figcaption> Suf </figcaption-->
            </figure>
            <div class="about-title">
                <h1>A PROPOS DE NOUS</h1>
            </div>
        </div>
        <div class="about-description">
            <p>
                &nbsp; &nbsp; &nbsp; Avant de présenter le projet en lui-même, commençons par nous présenter brièvement. Issus tous deux d’un <strong>Baccalauréat de filière Scientifique</strong>,
                nous avons ensuite entrepris nos études supérieures en <strong>DUT Informatique</strong> à l’IUT A de l’Université des Sciences et Technologies de Lille 1. 
                Grâce à celui-ci, nous avons acquis une première base dans notre formation en Informatique. Diplômés avec succès au terme de deux années de 
                formation et d’un stage pratique de 3 mois, nous avons alors rejoint le cursus de <strong>Licence 3 Informatique</strong>. Cette dernière obtenue au terme d’un 
                second stage pratique, nous avons décidé de continuer notre formation dans sa suite logique.
            </p>
            <p>
                &nbsp; &nbsp; &nbsp; Maintenant étudiants en <strong>Master I Informatique</strong>, toujours à l’Université de Lille 1, nous avons eu à réaliser un projet en binôme. Nous avons
                eu le choix entre sélectionner un sujet dans une liste proposée par l’Université ou proposer notre propre intitulé. 
            </p>
            <p>
                &nbsp; &nbsp; &nbsp; Etant tous deux <strong>cinéphiles</strong>, et souvent confrontés à des suggestions trop hasardeuses de la part de certains sites spécialisés, nous avons
                pensé qu’il serait intéressant de réaliser une plateforme autour de cette idée. L’idée a plu à l’un de nos anciens professeurs, <strong>Guillaume
                Dufrêne</strong>, qui s’est porté volontaire pour nous encadrer dans notre démarche. Cette initiative a donné la plateforme sur laquelle vous 
                naviguez actuellement.
            </p>
        </div>
    </div>
</div>