<div>
    <div id="olderSuggestionContainer">
        <h1 id="titleOldSuggestion">{{title}}:</h1>
        <div id="olderSuggestion" ng-repeat="movie in result" ng-click="go('{{movie.title}}')">
            <img class="posterOlderSuggestion" src="../{{movie.poster}}" alt="{{}}"/>
            <h3 id="titleOlderSuggestion">{{movie.title}}</h3>
            <ul id="recapOlderSuggestion">
                <li><i>{{movie.genres}} , {{movie.duration}}</i></li>
                <li><u><strong>Réalisateur:</strong></u> {{movie.director}}</li>
                <li><u><strong>Acteurs:</strong></u> {{movie.cast}}</li>
            </ul>
            <p id="synopsisOlderSuggestion"><u><strong>Synopsis:</strong></u> {{movie.synopsis}}</p>
        </div>
    </div>
</div>