<div>
<!--    <my-navbar></my-navbar>-->
    <div class="home-body">
        <script type="text/javascript">
            $(function() {
                $('#carousel ul').carouFredSel({
                    pagination: "#pager",
                    scroll: 700
                });
            });
        </script>
        <div>
            <div id="carousel-wrapper">
                <div id="carousel">
                    <ul>
                        <li><img src="../ressources/home-carousel/posters/film1.jpg" alt="" height="290px" width="auto" /><span>Image1</span></li>
                        <li><img src="../ressources/home-carousel/posters/film2.jpg" alt="" height="290px" width="auto" /><span>Image2</span></li>
                        <li><img src="../ressources/home-carousel/posters/film3.jpg" alt="" height="290px" width="auto" /><span>Image3</span></li>
                        <li><img src="../ressources/home-carousel/posters/film4.jpg" alt="" height="290px" width="auto" /><span>Image4</span></li>
                        <li><img src="../ressources/home-carousel/posters/film5.jpg" alt="" height="290px" width="auto" /><span>Image5</span></li>
                        <li><img src="../ressources/home-carousel/posters/film6.jpg" alt="" height="290px" width="auto" /><span>Image6</span></li>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="pager-wrapper">
                        <div id="pager" class="pager"></div>
                    </div>
                </div>
                <!--Message d'accueil-->
            </div>
            <div class="home-message">
                <h1>Bienvenue au Lille City Ciné Club !</h1>
            </div>
        </div>
    </div>
</div>