<div>
    <div id="profilMember">
        <div id="profil">
            <h1>Profil de {{member.name}}</h1>
            <span><i>{{member.role}} depuis le {{member.date | date: 'dd/MM/yyyy'}}</i></span>
            <div id="recapMemberProfile">
                <div id="favoriteGenre">
                    <p><strong>Ses genres préférés:</strong></p>
                    <ul id="favoritedGenre">
                        <li ng-repeat="g in member.genre">{{g}}</li>
                    </ul>
                </div>
                <div id="memberDescription">
                    <p id="descritionTitle"><strong> Sa description:</strong></p>
                    <p>{{member.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>