<div nav-bar></div>
<div>
    <div id="success" class="success" ng-show="success" >{{successMessage}}</div>
    <div id="error" class="error" ng-show="error" >{{errorMessage}}</div>
    <div id="form">	
        <form name="formNewSuggestion" id="formFilm" ng-submit="processNewSuggestion()" novalidate>
            <h2> Ajouter un film : </h2>			
            <ul>
                <li id="Title" >
                    <label class="description" >Titre: </label>
                    <input name="title" id="title" type="text" maxlength="255" value="" ng-model="formData.title" placeholder="Titre" required/> 
                    <span ng-show="formNewSuggestion.title.$error.required && !formNewSuggestion.title.$pristine">
                        Un titre est nécessaire
                    </span>
                </li>
                <li id="Real" >
                    <label class="description" >Réalisateur: </label>
                    <input name="director" id="realisateur" type="text" maxlength="255" value="" ng-model="formData.director" placeholder="Réalisateur" required/> 
                    <span ng-show="formNewSuggestion.director.$error.required && !formNewSuggestion.director.$pristine">
                        Un Réalisateur est nécessaire
                    </span>
                </li>		
                <li id="Acteurs" >
                    <label class="description" >Acteurs: </label>
                    <input name="actors" id="acteurs"  type="text" maxlength="255" value="" ng-model="formData.actors" placeholder="acteur 1, acteur 2, ..." ng-pattern="/^(([a-zA-Z]+[\-\'\s]?)+([a-zA-Z]+))+(\,\s([a-zA-Z]+[\-\'\s]?)+([a-zA-Z]+)*)*$/" required/>
                    <span ng-show="formNewSuggestion.actors.$error.required && !formNewSuggestion.actors.$pristine">
                        Au moins un acteur est nécessaire
                    </span>
                    <span ng-show="formNewSuggestion.actors.$error.pattern && !formNewSuggestion.actors.$pristine">
                        Le format accepté est le suivant: actor1, actor2, ...
                    </span>
                </li>		
                <!-- ComboBox: Genre-->
                <li id="Genre">
                    <label class="description"> Genre(s) : </label>
                    <select name="genre1" id="genre1" ng-model="formData.genre1" required>
                        <option value="" ></option>
                        <option value="action">Action</option>
                        <option value="aventure">Aventure</option>
                        <option value="biographique">Biographique</option>
                        <option value="catastrophe">Catastrophe</option>
                        <option value="comedie">Comedie</option>
                        <option value="drame">Drame</option>
                        <option value="espionnage">Espionnage</option>
                        <option value="fantastique">Fantastique</option>
                        <option value="historique">Historique</option>
                        <option value="horreur">Horreur</option>
                        <option value="peplum">Peplum</option>
                        <option value="policier">Policier</option> 
                        <option value="science-fiction">Science-Fiction</option>
                        <option value="thriller">Thriller</option>
                        <option value="western">Western</option>
                    </select>
                    <select name="genre2" id="genre2" ng-model="formData.genre2" ng-disabled="formNewSuggestion.genre1.$invalid">
                        <option value="" ></option>
                        <option value="action">Action</option>
                        <option value="aventure">Aventure</option>
                        <option value="biographique">Biographique</option>
                        <option value="catastrophe">Catastrophe</option>
                        <option value="comedie">Comedie</option>
                        <option value="drame">Drame</option>
                        <option value="espionnage">Espionnage</option>
                        <option value="fantastique">Fantastique</option>
                        <option value="historique">Historique</option>
                        <option value="horreur">Horreur</option>
                        <option value="peplum">Peplum</option>
                        <option value="policier">Policier</option> 
                        <option value="science-fiction">Science-Fiction</option>
                        <option value="thriller">Thriller</option>
                        <option value="western">Western</option>
                    </select>
                    <select name="genre3" id="genre3" ng-model="formData.genre3" ng-disabled="formNewSuggestion.genre2.$pristine || (formNewSuggestion.genre2.$modelValue === '')">
                        <option value="" ></option>
                        <option value="action">Action</option>
                        <option value="aventure">Aventure</option>
                        <option value="biographique">Biographique</option>
                        <option value="catastrophe">Catastrophe</option>
                        <option value="comedie">Comedie</option>
                        <option value="drame">Drame</option>
                        <option value="espionnage">Espionnage</option>
                        <option value="fantastique">Fantastique</option>
                        <option value="historique">Historique</option>
                        <option value="horreur">Horreur</option>
                        <option value="peplum">Peplum</option>
                        <option value="policier">Policier</option> 
                        <option value="science-fiction">Science-Fiction</option>
                        <option value="thriller">Thriller</option>
                        <option value="western">Western</option>
                    </select>
                </li>
                <span id="errorGenre" ng-show="formNewSuggestion.genre1.$invalid && !formNewSuggestion.genre1.$pristine">
                    Il faut au moins sélectionner 1 genre pour le film.
                </span>
                <li id="duree">
                    <label class="description"> Durée du Film : </label>
                    <input name="duree" id="duree" placeholder="Durée du film" type="text" ng-model="formData.duration" ng-pattern="/^[0-9]{2}h[0-9]{2}$/" required/>
                    <span ng-show="formNewSuggestion.duree.$invalid && !formNewSuggestion.duree.$pristine">
                        Il faut au moins préciser la durée du film
                    </span>
                    <span ng-show="formNewSuggestion.duree.$error.pattern && !formNewSuggestion.duree.$pristine">
                        Votre formt n'est pas le bon. [0-9]{2}h[0-9]{2} ;)
                    </span>
                </li>
                <li id="Synopsis" >
                    <label class="description" >Synopsis: </label>
                    <textarea name="synopsis" id="synopsis" placeholder="Synopsis" ng-model="formData.synopsis" required></textarea> 
                </li>		
                <li id="Affiche" >
                    <div id="affiche-wrapper">
                        <label class="description" id="affiche-description">L'affiche du film: </label>
                        <!-- avec ngFileUpload           -->
                        <input id="affiche" type="file" ngf-select name="poster" ng-model="poster" ngf-accept="'image/*'" ngf-max-size="20MB"/>

                    </div>
                </li>		
                <li id="Justification" >
                    <label class="description" >Pourquoi ce film: </label>
                    <textarea name="why" id="justification" placeholder="Pourquoi?" ng-model="formData.why" required></textarea>
                    <span ng-show="formNewSuggestion.why.$invalid && !formNewSuggestion.why.$pristine">
                        Il faut au moins ne justification pour valider une suggestion
                    </span>
                </li>
                <li id="suggestionDate">
                    <label class="description"> Date de publication : </label>
                    <input name="suggestionDate" id="suggestionDate" placeholder="Date:AAAA-MM-JJ" type="text" ng-model="formData.suggestionDate" ng-pattern="/^[0-9]{4}\-[0-9]{2}\-[0-9]{2}$/" required/>
                    <span ng-show="formNewSuggestion.suggestionDate.$invalid && !formNewSuggestion.suggestionDate.$pristine">
                        Il faut préciser la date de publication de la suggestion
                    </span>
                    <span ng-show="formNewSuggestion.suggestionDate.$error.pattern && !formNewSuggestion.suggestionDate.$pristine">
                        Le format n'est pas le bon. AAAA-MM-DD ;)
                    </span>

                </li>
                <li id="trailer">
                    <label class="description">La Bande annonce : </label>
                    <input name="trailer" id="trailer" placeholder="le code aprés watch?v=" ng-model="formData.trailer" required/>
                    <span ng-show="formNewSuggestion.trailer.$invalid && !formNewSuggestion.trailer.$pristine">
                        Un lien vers le trailer est nécesaire pour une nouvelle suggestion
                    </span>
                </li>
                <li id="buttons">
                    <div id="ButtonsWrapper" >
                        <input type="hidden" name="form_id" value="955925" />
                        <input id="saveForm" class="buttonValider" type="submit" value="Valider" ng-disabled="formNewSuggestion.$invalid" />
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>