<div>
    <div class="poster-about">
        <div class="poster">
            <img src="../{{suggestion.poster}}">
            <div ng-show=suggestion.trailer ng-click="toggleTrailer()"> La bande annonce !</div>
        </div>
        <div class="about_movie">

            <h1>Cette semaine l'équipe vous propose...</h1>
            <p id="TitleMovie">
                <i id="MovieTitle"><strong>{{suggestion.title}}</strong></i><i id="duration">{{suggestion.duration}}</i>
            </p>
            <p id="GenreTitle">
                {{suggestion.genre}}
            </p>
            <h4>Le synopsis: </h4>
            <p>{{suggestion.synopsis}}
            </p>
            <h4>Réalisateur:</h4>
            <p>{{suggestion.director}}</p>
            <h4>Acteur:</h4>
            <p>{{suggestion.actors}}</p>
            <h4>Pourquoi ce film?</h4>
            <p>{{suggestion.why}}</p>
        </div>
    </div>
    <div class="seance-wrapper">
        <div id="div-title">
            <h2>Les séances : </h2>
        </div>
        <div id="div-img">
            <img src="../ressources/img/comingsoon.png">
        </div>
    </div>
    <div ng-show="showingTrailer">
        <div id="fadeMe" ng-click="toggleTrailer(true)"></div>
        <div id="videoPlayer">
            <iframe id="trailer" width="560" height="315" ng-src="{{trailerUrl}}" frameborder="0" allowfullscreen></iframe>
            <img id="closeTrailer" src="../ressources/img/close.png" ng-click="toggleTrailer(true)">
        </div>
    </div>
</div>