#olderSuggestionContainer{
    width:100%;
    height: 75%;
}
#olderSuggestion{
    border: 2px solid black;
    float: left;
    margin-left: 10%;
    margin-top: 2%;
    width: 35%;
    height: 50%;
}
#olderSuggestion:hover{
    cursor:pointer;
}

.posterOlderSuggestion{
    height: 100%;
    float:left;
    padding: 2%;
}

#recapOlderSuggestion{
    list-style-type: none;
}

#synopsisOlderSuggestion{
    margin-top:-5px; 
    width: 285px;
    height:90px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#titleOldSuggestion{
    margin-left : 10%;
}