.admin-body{
    height : 75%;
}
.admin-message{
    font-size : 1em;
    margin-left : 10%;
    line-height: 65%;
}
.admin-message-accueil{
    font-weight : bold;
}

.dashboardCardLeft{
    border: 2px solid black;
    float: left;
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 2.5%;
    width: 35%;
    height: 50%;
    cursor: pointer;
}
.dashboardCardRight{
    border: 2px solid black;
    float: right;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 2.5%;
    width: 35%;
    height: 50%;
    cursor: pointer;
}

.posterSuggestionDashboard{
    height: 100%;
    float:left;
    padding: 2%;
}

#recapSuggestionDashboard, #recapOldSuggestionDashboard {
    list-style-type: none;
}

#synopsisSuggestionDashboard{
    margin-top:-10px; 
    width: 285px;
    height:20%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#clickForMore{
    font-weight: bold;
}
