/* -------------------------------------------------------- Erreur404 --------------------------------------------------------------------- */

#body-404{
    height:70%;
}	
#body-404 img{
    padding-left:31.5%;
    padding-top: 5%;
}
#message-404{
    text-align:center;
    font-size : 1em;
}
#message-404 h1{
    color : #171717;
    font-weight : 900; 
}