/* ------------------------------------------------------- Inscription -------------------------------------------------------- */
#form #formInscription{
    height:auto;
    border: 2px solid;
    border-radius:25px;
    margin-top : 4%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom:3%;
    padding-bottom:1%;
}

input{
    border: none;
}

#form h2{
    padding-left: 7.33%;
}

#form ul li {
    list-style-type:none;
    line-height:2em;
    margin-top: 1%;
}
#form ul li .description{
    font-style:italic;
    font-weight:200; /*need it so the name of the label doesn't look bold*/
}
#form ul #Pseudo #pseudo{
    margin-left:2.2%;
    width:76.5%;
    line-height:1.5em;
}
#form ul #Mail #mail {
    margin-left:5%;
    width:76.4%;
    line-height:1.5em;
}
#form ul #Pass #pass {
    margin-left:1%;
    width:70.2%;
    line-height:1.5em;
}
#form ul #Pass2 #pass2 {
    margin-left:2%;
    width:70.2%;
    line-height:1.5em;
}
#formInscription ul #Genre #genre1{
    margin-left:-0.5%;
    margin-right:7%;
}
#formInscription ul #Genre #genre2{
    margin-right:7%;
}
#form ul #Description #description{
    resize:none;
    height:13%;
    width:90%;
    border-radius:10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
#description .ng-dirty.ng-valid{
    -moz-box-shadow: 0px 0px 5px 2px #8BC34A;
    -webkit-box-shadow: 0px 0px 5px 2px #8BC34A;
    -o-box-shadow: 0px 0px 5px 2px #8BC34A;
    box-shadow: 0px 0px 5px 2px #8BC34A;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#8BC34A, Direction=NaN, Strength=5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#form ul #buttons #ButtonsWrapper{
    text-align:center;
    line-height:1.5em;
}

#saveForm:focus{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    filter:none;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}
