/* -------------------------------------------------------- MDP Oublié ------------------------------------------------------------------ */
#formRedefinePass{
    height:auto;
    width:35%;
    border: 2px solid;
    border-radius:25px;
    margin: 7.3% 32.5% 6.4% 32.5%;
    padding-bottom:1.3%;
}

#redefine-title{
    margin-left : -1%;
    color : #171717;
    font-size:2em;
}

#redefine-message{
    padding-right : 5%;
    padding-left : 6%;
    text-align: justify;
    font-size : 1.2em;
}

.description2{
    font-weight:500;
    font-style : italic;
}

#redefine-champs{
    margin-left : 6.5%;
}

#redefine-confirmation{
    padding-left : 1%;
    margin-left:2%;
    margin-bottom : 3%;
    width : 75%;
}
#redefine-mdp{
    padding-left : 1%;
    margin-left:2%;
    width:75%;
}
