/* -------------------------------------------------------- Soumettre un film ------------------------------------------------------------- */
#form #formFilm{
height:auto;
border: 2px solid;
border-radius:25px;
margin-top : 3.2%;
margin-left: 30%;
margin-right: 30%;
margin-bottom:3%;
padding-bottom:1%;
}

#form ul li {
list-style-type:none;
line-height:2em;
}
#form ul li .description{
font-style:italic;
font-weight:200; /*need it so the name of the label doesn't look bold*/
}
#form ul #Title #title{
margin-left:10%;
width:76.5%;
line-height:1.5em;
}
#form ul #Real #realisateur {
margin-left:1.2%;
width:379px;
line-height:1.5em;
}
#form ul #Acteurs #acteurs {
margin-left:5.8%;
width:76.5%;
line-height:1.5em;
}

#form ul #Genre #genre1{
margin-left:3.2%;
}
#form ul #duree #duree {
line-height:1.5em;
width:20%;
}
#form ul #synopsis #synopsis{
resize:none;
height:13%;
width:95%;
border-radius:10px;
border: 1px solid;
}

#form ul #Affiche #affiche-description{
float:left;
}
#form ul #Affiche #affiche{
padding-left:1.8%;
padding-top:0.2%;
}

#form ul #justification label{
margin-left:-21%;
padding-top:1.5%;
}

#form ul #justification #justification{
resize:none;
height:13%;
width:95%;
border-radius:10px;
border: 1px solid;
}
#form ul #buttons #ButtonsWrapper{
text-align:center;
line-height:1.5em;
}