/* -------------------------------------------------------- Suggestion -------------------------------------------------------------------- */
.poster-about{
display:inline-block;
box-sizing:border-box;
}
.about_movie{
display:inline-block;
float:right;
width:56%;
margin-right:5%;
padding-top:4%;
padding-right:2%;
text-align:justify;
line-height: 1.2em;
}
.about_movie h1{
margin-top:-1%;
padding-bottom:1%;
}
.about_movie h4{
padding-top:2%;
}
#TitleMovie{
margin-bottom:4%;
}
#MovieTitle{
color:#7D0000;
font-size:1.5em;
}
#duration{
margin-left:0.7%;
}
.poster img{
width:100%;
}
.poster{
display:inline-block;
float:left;
padding-top:4%;
padding-left:7%;
width:30%
}
.seance-wrapper{
padding-top:1%;
}
.seance-wrapper #div-img img{
margin-left:40.26%;
width:20%;
height:auto;
}
.seance-wrapper #div-title h2{
float:right;
width:63%;
}
.about{
margin-top:4%;
height:64%;
}
